body{
    background-color: #050505;
    font-family: 'Besley', serif;
}

#container {
    background-color: #050505;
    width: 900px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

header{
    padding: 20px 0;
    background-color: #e0091b;
    border-radius: 20px 20px 0 0;
}

header img{
    display: block;
    width: 30%;
    margin: 0 auto
}

header h1{
font-size: 2.5em;
text-align: center;
color: #fffafa;
font-family: 'Oswald', sans-serif;
text-shadow: 2px 2px 2px black;
}

nav{
    background-color: black;
    padding-top: 10px;
    text-align: center;
}

nav a{
    display: inline-block;
    background-color: black; 
    height: 50px;
    width:175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px; 
    color: #e0091b;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    margin: 0 10px;
}

nav a:hover{
    background-color: #e0091b;
    color: #fffafa;
}

main{
    background-color: #fffafa;
    padding: 20px;
    margin: 0 20px 20px 20px;
}

main h2{
    text-align: center;
    color: #e0091b;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    
}

main img{
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color: #fffafa;
    padding: 20px;
    border-radius: 20px ;

}

footer{
    background-color: #050505;
    padding: 40px 0;
    color: #fffafa;
    font-size: 1.5em;
    text-align: center;
    border-radius: 0 0 60px 60px;
}

.active{
    background-color: #fffafa;
    color: #e0091b;
}

.pro_head{
    text-align: center;
    color: #050505;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
}